extends base
include mixins/video

block content
  h3 Search Video
  if errorMessage
    span=errorMessage
  form(method="GET")
    input(name="keyword", placeholder="Search by title", required, type="text", maxlength=80)
    input(value="Search", type="submit")
  each video in videos 
    +video(video)