extend ../base

block content
  form(method="POST")
    input(placeHolder="Old Password", value="", name="oldPassword", type="password")
    input(placeHolder="New Password Confirmation", value="", name="newPasswordConfirmation", type="password")
    input(placeHolder="New Password", value="", name="newPassword", type="password")
    input(type="submit", va;ue="Change Password")